<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.tide.sgbs5.mapper.usedMapper">

	<select id="usedShow" parameterType="UsedCurrentDTO" resultType="UsedCurrentDTO">
 	SELECT 
 	 @RNUM := @RNUM + 1 AS ROWNUM,
 	 RSD_ID,
 	 DATE_FORMAT(LP_CPTR_TIME,'%Y-%m-%d') as LP_CPTR_ONLYDATE, 
 	 DATE_FORMAT(LP_CPTR_TIME,'%H:%i') as LP_CPTR_ONLYTIME,
 	 ACT_PWRER, RSD_ID, LP_ACT_PWRER,
 	 GND_RACT_PWRER AS LP_RACT_PWRER, TRTH_RACT_PWRER AS RACT_PWRER
 	FROM EMST_RAW_DATA, ( SELECT @RNUM := 0 ) R
 	    WHERE CAST(SUBSTR(RSD_ID,1,5) AS UNSIGNED)= '10050'
 	    AND CAST(SUBSTR(RSD_ID,6,3) AS UNSIGNED)= #{addr1} 
 		AND CAST(SUBSTR(RSD_ID,9,11) AS UNSIGNED) = #{addr2} 
 		AND DATE_ADD(NOW(), INTERVAL -10 HOUR)  &lt; DATE_FORMAT(LP_CPTR_TIME, '%Y-%m-%d %H:%i')
	</select>


</mapper>